.feature-item{
    position: relative;
    margin-bottom: 1.15rem;
    @mixin atSmall{
        padding-left: 5.6rem;
        margin-bottom: 6.15rem;
    }
    &_icon{
        display: block;
        margin: 0 auto;
        @mixin atSmall{
            position: absolute;
            left: 0;        }
    }
    &_title{
        font-size: 1.6rem;
        font-weight: 300;
        margin-top: .7em;
        margin-bottom: 0.9rem;
        text-align: center;
        @mixin atSmall{
            font-size: 1.875rem;
            margin-top: 1 em;
            text-align:left;
        }
    }
}