.site-header{
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 12px 0;
    transition:all .3s ease-out;
    overflow: hidden;
    &_is-expanded{
        background-color: rgba($blueColor,.5);
    }
    @mixin atMedium{
        background-color: rgba($blueColor, .3);
        position: fixed;
        overflow: visible;
        &-fixed-bar{
            background-color: rgba(23,51,72, .85);
        }
    }
    &_btn{
        float: none;
        margin-bottom: .4rem;
        @mixin atMedium{
            float: right;
            margin-bottom:0;
        }
    }
    &_nav{
        float: none;
        @mixin atMedium{
            float: right;
        }
        ul{
            margin: 0;
            padding: 0;
            @mixin clearfix;
        }
        li{
            list-style: none;
            float: none;
            display: inline-block;
            padding-right: 4px;
            @mixin atMedium{
                float: left;
                padding-right: 20px;
            }
        }
        a{
            text-decoration: none;
            color: #fff;
            font-weight: 300;
            padding:  7px;
            display: block;
            font-size: .7rem;
            background-color: rgba($blueColor, .6);
            @mixin atMedium{
                font-size: 1rem;
                background-color: transparent;
                padding: 12px 0px;
                &.is-current-link{
                    color: #fab269;
                }
            }
        }
    }
    
    &_logo{
        position: absolute;
        background-color: $blueColor;
        padding: 25px 36px;
        top: 0;
        left: 50%;
        transform: translateX(-50%) scale(.8);
        transform-origin: 50% 0%;
        transition: all .3s ease-out;
        @mixin atMedium{
            left: auto;
            transform:translateX(0);
        }
        .site-header-fixed-bar &{
            transform: scale(0.6);
        }
    }
    &_logo_graphic{
        text-indent: -9999px;
    }
    &_menu-content{
        opacity: 0;
        transition: all .3s ease-out;
        transform: scale(1.2);
        z-index: -10;
        position: relative;
        padding-top: 85px;
        text-align: center;
        @mixin atMedium{
            opacity: 1;
            z-index: 1;
            padding-top: 0;
            transform: scale(1);
        }
        &-is-visible{
            opacity: 1;
            z-index: 1;
            transform:scale(1);
        }
    }
    &_menu-icon{
        width: 20px;
        height: 19px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 10;
        @mixin atMedium{
            display:none;
        }
    &::before{
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        width:20px;
        height: 3px;
        background-color:#fff;
        transform-origin: 0 0;
        transition: all .2s ease-out;
    }
    &-middle{
        position: absolute;
        top: 8px;
        left: 0;
        width:20px;
        height: 3px;
        background-color:#fff;
        transition: all .2s ease-out;
        transform-origin: 0 50%;
    }
    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width:20px;
        height: 3px;
        background-color:#fff;
        transform-origin: 0 100%;
        transition: all .2s ease-out;
    }
    }
    &_menu-icon-close-x{
        &::before{
            transform: rotate(45deg) scaleX(1.2);
        }
        .site-header_menu-icon-middle{
            opacity: 0;
            transform: scaleX(0);
        }
        &::after{
            transform: rotate(-45deg)  scaleX(1.2) translateY(1px);
        }
    }
}